<app-loader *ngIf="isLoader"></app-loader>
<div *ngIf="!isLoader" class="mt-3">
  <div class="">
    <p-dialog
    header="Encuenta de satisfaccion"
    [(visible)]="visible"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false">
        <form class="flex flex-col gap-5" [formGroup]="formCal">
          <div class="flex flex-col">
            <label for="rating">¿Qué tan satisfecho estás con tu experiencia general de compra en la aplicación?</label>
            <p-rating [cancel]="false" formControlName="No1"/>
          </div>
          <div class="flex flex-col">
            <label for="rating">¿Qué tan claro y detallado encontraste la información sobre los productos (descripciones, tallas, materiales, etc.)?</label>
            <p-rating [cancel]="false" formControlName="No2"/>
          </div>
          <div class="flex flex-col">
            <label for="rating">¿Estás satisfecho con el tiempo de carga de las páginas y la velocidad de la aplicación?</label>
            <p-rating [cancel]="false" formControlName="No3"/>
          </div>
          <div class="flex justify-end">
            <button class="bg-blue-600 rounded-md border-none text-white px-3 py-2 font-bold text-md cursor-pointer">
              Enviar
            </button>
          </div>
        </form>
</p-dialog>
  </div>
 <div class="mx-5">
   <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [showIndicators]="false" [showNavigators]="false">
     <ng-template let-product pTemplate="item">
           <img [src]="product" [alt]="" class="imgSlider w-full rounded-sm" />
     </ng-template>
   </p-carousel>
 </div>

  <div *ngIf="paraTi && paraTi.length > 0">
    <h2 class="text-center text-3xl mt-10">-Para ti-</h2>
    <hr class="w-5/6">
    <p-carousel [value]="paraTi" [numVisible]="3" [numScroll]="3" [circular]="false">
      <ng-template let-product pTemplate="item">
        <div class="m-2 text-center py-5 px-3 bg-white rounded-md">
          <div class="mb-3 novedades">
            <img *ngIf="product.imagen[0].url_imagen.length < 0" [src]="product.imagen[0].url_imagen" [alt]="product.nombre_producto" class="novedades h-40" />
            <img *ngIf="product.imagen[0].url_imagen.length <= 0" src="../../../../assets/img/image-not-found.png" [alt]="product.nombre_producto" class="novedades h-40" />
          </div>
          <div>
            <h4 routerLink="/view/{{product.id}}" class="mb-1 cursor-pointer text-sm md:text-lg capitalize text-gray-700 hover:text-black">{{
              product.nombre_producto }}</h4>
            <p class="mt-0 mb-3 text-lg text-gray-600">{{ '$' + product.precio }}</p>
            <span *ngIf="product.descuento > 0" class="text-gray-600 font-mono text-lg">Descuento {{product.descuento}}%</span>
            <span *ngIf="product.descuento <= 0" class="text-gray-600 font-mono text-lg">S/D</span>
            <div class="mt-5 flex items-center justify-center gap-2">
              <p-button (click)="addCardProduct(product.id)" icon="pi pi-shopping-cart" [rounded]="true" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div>
    <h2 class="text-center text-3xl mt-10">-Novedades-</h2>
    <hr class="w-5/6">
    <p-carousel [value]="novedades" [numVisible]="3" [numScroll]="3" [circular]="false">
      <ng-template let-product pTemplate="item">
        <div class="m-2 text-center py-5 px-3 bg-white rounded-md">
          <div class="mb-3 novedades">
            <img *ngIf="product.imagen[0].url_imagen.length > 0" [src]="product.imagen[0].url_imagen" [alt]="product.nombre_producto" class="novedades h-40" />
            <img *ngIf="product.imagen[0].url_imagen.length <= 0" src="../../../../assets/img/image-not-found.png" [alt]="product.nombre_producto" class="novedades h-40" />
          </div>
          <div>
            <h4 routerLink="/view/{{product.id}}" class="mb-1 cursor-pointer text-sm md:text-lg capitalize text-gray-700 hover:text-black">{{
              product.nombre_producto }}</h4>
            <p class="mt-0 mb-3 text-lg text-gray-600">{{ '$' + product.precio }}</p>
            <span *ngIf="product.descuento > 0" class="text-gray-600 font-mono text-lg">Descuento {{product.descuento}}%</span>
            <span *ngIf="product.descuento <= 0" class="text-gray-600 font-mono text-lg">S/D</span>
            <div class="mt-5 flex items-center justify-center gap-2">
              <p-button (click)="addCardProduct(product.id)" icon="pi pi-shopping-cart" [rounded]="true" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div>
    <h2 class="text-center text-3xl">-Con descuento-</h2>
    <hr class="w-5/6">
    <div>
      <p-carousel [value]="descuento" [numVisible]="3" [numScroll]="3" [circular]="false">
        <ng-template let-product pTemplate="item">
          <div class="m-2 text-center py-5 px-3 bg-white rounded-md">
            <div class="mb-3 novedades">
              <img [src]="product.imagen[0].url_imagen" [alt]="product.nombre_producto" class="novedades h-40" />
            </div>
            <div>
              <h4 routerLink="/view/{{product.id}}" class="mb-1 cursor-pointer text-sm md:text-lg capitalize text-gray-700 hover:text-black">{{
                product.nombre_producto }}</h4>
              <p class="mt-0 mb-3 text-lg text-gray-600">{{ '$' + product.precio }}</p>
              <span *ngIf="product.descuento > 0" class="text-gray-600 font-mono text-lg">Descuento {{product.descuento}}%</span>
              <span *ngIf="product.descuento <= 0" class="text-gray-600 font-mono text-lg">S/D</span>
              <div class="mt-5 flex items-center justify-center gap-2">
                <p-button (click)="addCardProduct(product.id)" icon="pi pi-shopping-cart" [rounded]="true" />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div>
    <h2 class="text-center text-3xl">-Para dama-</h2>
    <hr class="w-5/6">
    <div>
      <p-carousel [value]="dama" [numVisible]="3" [numScroll]="3" [circular]="false">
        <ng-template let-product pTemplate="item">
          <div class="m-2 text-center py-5 px-3 bg-white rounded-md">
            <div class="mb-3 novedades">
              <img [src]="product.imagen[0].url_imagen" [alt]="product.nombre_producto" class="novedades h-40" />
            </div>
            <div>
              <h4 routerLink="/view/{{product.id}}" class="mb-1 cursor-pointer text-sm md:text-lg capitalize text-gray-700 hover:text-black">{{
                product.nombre_producto }}</h4>
              <p class="mt-0 mb-3 text-lg text-gray-600">{{ '$' + product.precio }}</p>
              <span *ngIf="product.descuento > 0" class="text-gray-600 font-mono text-lg">Descuento {{product.descuento}}%</span>
              <span *ngIf="product.descuento <= 0" class="text-gray-600 font-mono text-lg">S/D</span>
              <div class="mt-5 flex items-center justify-center gap-2">
                <p-button (click)="addCardProduct(product.id)" icon="pi pi-shopping-cart" [rounded]="true" />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div>
    <h2 class="text-center text-3xl">-Para caballero-</h2>
    <hr class="w-5/6">
    <div>
      <p-carousel [value]="caballero" [numVisible]="3" [numScroll]="3" [circular]="false">
        <ng-template let-product pTemplate="item">
          <div class="m-2 text-center py-5 px-3 bg-white rounded-md">
            <div class="mb-3 novedades">
              <img [src]="product.imagen[0].url_imagen" [alt]="product.nombre_producto" class="novedades h-40" />
            </div>
            <div>
              <h4 routerLink="/view/{{product.id}}" class="mb-1 cursor-pointer text-sm md:text-lg capitalize text-gray-700 hover:text-black">{{
                product.nombre_producto }}</h4>
              <p class="mt-0 mb-3 text-lg text-gray-600">{{ '$' + product.precio }}</p>
              <span *ngIf="product.descuento > 0" class="text-gray-600 font-mono text-lg">Descuento {{product.descuento}}%</span>
              <span *ngIf="product.descuento <= 0" class="text-gray-600 font-mono text-lg">S/D</span>
              <div class="mt-5 flex items-center justify-center gap-2">
                <p-button (click)="addCardProduct(product.id)" icon="pi pi-shopping-cart" [rounded]="true" />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

</div>
<p-toast></p-toast>
