<div class="flex justify-center">
  <div class="bg-white  w-3/5 my-10 px-5 pb-5">
    <h1 class="text-center">Mision</h1>
    <p>
      En nuestra empresa, nos comprometemos a proporcionar moda accesible y de alta
      calidad para personas de todas las edades, ofreciendo una selección cuidadosamente
      curada de prendas que reflejen las últimas tendencias y estilos clásicos. Buscamos
      hacer que la experiencia de compra sea fácil, agradable y personalizada,
      asegurándonos de que cada cliente, ya sea hombre, mujer o niño, encuentre prendas
      que se ajusten a su estilo y necesidades.
      Nos esforzamos por construir relaciones sólidas con nuestros clientes, basadas en la
      confianza y la satisfacción, ofreciendo una amplia gama de opciones para toda la
      familia. Asegurando la calidad y durabilidad de cada artículo que vendemos.
    </p>
  </div>
</div>
