<div class="px-10 py-5">
  <div class="flex items-center justify-end gap-3 mb-5">
    <div class="flex items-center gap-1">
      <span>Filtrar por: </span>
      <select name="ordenarPor" id="" class="rounded-lg border-none"
        >
        <option value="T">Todos</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
    </div>
  </div>
  <div class="bg-white py-2 px-2 rounded-md shadow-md">
    <h3 class="text-center text-2xl font-bold">Lista de productos</h3>
    <div class="flex justify-end">
      <button routerLink="/admin/registro-producto" class="bg-green-800 hover:bg-green-700 flex items-center gap-1" pButton><i class="pi pi-plus"></i>Agregar producto</button>
    </div>
    <ul class="grid grid-cols-8 gap-5 bg-gray-700 py-2 text-center text-white">
      <li class="font-semibold">Preview</li>
      <li class="font-semibold">Nombre</li>
      <li class="font-semibold">Precio</li>
      <li class="font-semibold">Stock</li>
      <li class="font-semibold">Tipo</li>
      <li class="font-semibold">Categoria</li>
      <li class="font-semibold col-span-2">Acciones</li>
    </ul>
    <ul *ngFor="let item of listProducts" class=" px-2 grid grid-cols-8 bg-gray-200 py-2 text-center items-center text-gray-800 rounded-md">
      <li><img [src]="item.imagen[0].url_imagen" alt="" class="h-20 rounded-md"></li>
      <li>{{item.nombre_producto}}</li>
      <li>{{item.precio}}</li>
      <li>{{item.stock}}</li>
      <li>{{item.tipo}}</li>
      <li>{{item.categoria}}</li>
      <li class="col-span-2 flex items-center gap-2">
        <button routerLink="/admin/edit-product/{{item.id}}" class="bg-blue-800 hover:bg-blue-700 flex items-center gap-1" pButton><i class="pi pi-file-edit"></i>Editar</button>
        <button (click)="changeStatus(item.id,false)" *ngIf="item.status !== 'inactivo'" class="bg-red-800 hover:bg-red-700 flex items-center gap-1" pButton><i class="pi pi-ban"></i>Desactivar</button>
        <button (click)="changeStatus(item.id,true)" *ngIf="item.status === 'inactivo'" class="bg-yellow-500 hover:bg-yellow-400 flex items-center gap-1" pButton><i class="pi pi-check-circle"></i>Activar</button>
      </li>
    </ul>
  </div>
</div>
