<app-loader *ngIf="isLoader"></app-loader>
<div *ngIf="!isLoader">



  <div class="bg-white mb-5 mx-5 py-3 flex flex-col md:flex-row gap-5">

    <div class="flex flex-col md:flex-row-reverse justify-end gap-2">
      <div class="flex justify-center">
        <img [src]="imagenCarrucel" alt="imgSelected" class="w-56 sm:w-80 rounded-sm">
      </div>
      <div class="flex  md:flex-col gap-3 items-center justify-center px-5">
            <img (click)="changeImgCarrucel(item.id)" *ngFor="let item of product.imagen" [src]="item.url_imagen" alt="img" class="w-20 rounded-sm">
      </div>
    </div>
    <div class="ring-1 md:w-full mx-5 md:mr-5 px-5 rounded-md ring-gray-200 py-2">
      <h1 class="text-2xl font-bold capitalize">{{ product.nombre_producto }}</h1>
      <p-rating [(ngModel)]="product.rating" [cancel]="false" [disabled]="true"></p-rating>
      <p class="font-semibold text-xl">Precio: ${{ calDes(product.precio, product.descuento) }}.00 <i class="line-through font-normal">${{product.precio}}.00</i></p>
      <p class="text-lg" *ngIf="product.descuento > 0">Descuento de: {{product.descuento}}%</p>
      <p class="text-green-500 text-lg">Envios a toda la republica mexicana</p>
      <p class="text-lg">Stock disponible: {{product.stock}}</p>
      <p class="text-lg">¡Compralo ahora!</p>
      <div class="flex items-center gap-2">
        <button [disabled]="cantidad <= 1" (click)="changeCantidad('-')" class="bg-blue-500 hover:bg-blue-600 cursor-pointer rounded-md border-none text-white font-bold text-lg px-3">-</button>
        <span class="text-lg">{{cantidad}}</span>
        <button [disabled]="cantidad >= product.stock" (click)="changeCantidad('+')" class="bg-green-500 hover:bg-green-600 cursor-pointer rounded-md border-none text-white  text-lg px-3">+</button>
      </div>
      <div class="mt-5 flex gap-2 items-center">
        <button (click)="comprarProduct()" class="bg-purple-500 hover:bg-purple-600 cursor-pointer rounded-md border-none text-white lg:text-lg py-2 font-semibold px-3 flex items-center gap-1">
          <i class="pi pi-credit-card"></i> Comprar</button>
        <button (click)="addProductToCard()" class="bg-cyan-700 hover:bg-cyan-600 cursor-pointer rounded-md border-none text-white lg:text-lg py-2 font-semibold px-3 flex items-center gap-1">
          <i class="pi pi-cart-plus"></i>Agregar al carrito</button>
      </div>
    </div>

  </div>

  <div class="p-3 pb-5 mb-5 rounded-md mx-5 bg-white shadow-3">
    <h2 class="text-center text-2xl">Detalle del producto</h2>
    <div class="lg:text-lg">
      <div>
        <p><b>Genero:</b> {{product.categoria}}</p>
        <p><b>Talla:</b> 28</p>
      </div>
      <p>
        {{product.descripccion}}
      </p>
    </div>
  </div>
  <div class="p-3 pb-5 mb-5 border-round mx-5 bg-white shadow-3">
    <h2 class="text-center text-2xl">Opiniones de compradores</h2>

    <div class="bg-white px-4" *ngIf="product.comentarios.length !== 0">
      <div class="comentario" *ngFor="let item of product.comentarios">
        <div class="flex justify-between">
          <p class="capitalize text-gray-800 text-md font-bold">{{item.usuario}}</p>
          <p class="text-gray-800 text-md font-bold">{{item.fecha}}</p>
        </div>
        <p class="text-lg text-gray-600 font-semibold capitalize">
          {{item.comentario}}
        </p>
        <hr />
      </div>
    </div>
    <div class="bg-white px-4 flex justify-center" *ngIf="product.comentarios.length === 0">
      <img class="rounded-md w-2/5" src="../../../../../assets/img/not_comments.jpg" alt="not-comments">
    </div>
  </div>

</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
