<div
  class="flex flex-col lg:flex-row mx-5 rounded-md shadow-lg p-3 my-5 "
>
  <div class="lg:w-3/5">
    <p-carousel
      [value]="imagenes"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [showIndicators]="false"
    >
      <ng-template let-imagen pTemplate="item">
        <img
          class="w-full h-full lg:h-30rem border-round"
          [src]="imagen"
          alt="Imagen {{ imagen }}"
        />
      </ng-template>
    </p-carousel>
  </div>
  <div class="container-datails rounded-md pl-4 pb-4">
    <h2 class="lg:text-3xl">{{product.nombre_producto}}</h2>
    <p-rating [cancel]="false" [disabled]="true"></p-rating>
    <div class="lg:h-3/4">
      <div class="detalles">
        <p class="text-4x1"><b>${{product.precio}} </b><i class="precio">$150.00</i></p>
        <p class="font-italic text-green-500">
          Envios a toda la republica mexicana
        </p>
        <p>Descuento de: {{product.descuento}}%</p>
        <p>Costo de envio: <b>$99.00</b></p>
        <p>Stock disponible: <b>{{product.stock}} pzas</b></p>
        <p>¡Compralo ahora!</p>
        <div class="flex">
          <p-button
          class="mr-2 hover:bg-blue-400 rounded-md"
          label=""
          (click)="comprarProduct()"
          >Comprar</p-button>
          <p-button
            styleClass="p-button-secondary"
            label=""
            (click)="addProductToCard()"
          >Agregar al carrito</p-button>
          <p-toast></p-toast>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3 pb-5 mb-5 rounded-md mx-5 bg-white shadow-3">
  <h2 class="text-center text-4xl">Detalle del producto</h2>
  <div class="lg:text-2xl">
    <ul>
      <li><b>Marca:</b> Patito</li>
      <li><b>Genero:</b> Hombre</li>
      <li><b>Edad:</b> 35 Años</li>
      <li><b>Material del producto:</b> Algodon</li>
      <li><b>Talla:</b> 28</li>
    </ul>
    <p class="px-5">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. In minima dolor,
      libero earum adipisci sit. Ducimus, deleniti? Cumque, omnis, quas quo
      corporis quos distinctio, nulla earum enim numquam nam ad!, Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Suscipit similique
      reprehenderit maiores, veritatis nihil laborum dolorum dolorem cumque
      soluta sed blanditiis eos! Ipsum repellendus recusandae debitis reiciendis
      quo itaque? Vel.
    </p>
  </div>
</div>
<div class="p-3 pb-5 mb-5 border-round mx-5 bg-white shadow-3">
  <h2 class="text-center text-4xl">Opiniones de compradores</h2>
  <div class="bg-white px-4">
    <div class="comentario">
      <p>Nombre del usuario</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic
        consequuntur nesciunt velit illo voluptas atque neque ratione
        accusantium. Dolores harum animi suscipit consequatur id tempore
        deserunt error velit expedita.
      </p>
      <hr />
    </div>
    <div class="comentario">
      <p>Nombre del usuario</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic
        consequuntur nesciunt velit illo voluptas atque neque ratione
        accusantium. Dolores harum animi suscipit consequatur id tempore
        deserunt error velit expedita.
      </p>
      <hr />
    </div>
    <div class="comentario">
      <p>Nombre del usuario</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic
        consequuntur nesciunt velit illo voluptas atque neque ratione
        accusantium. Dolores harum animi suscipit consequatur id tempore
        deserunt error velit expedita.
      </p>
      <hr />
    </div>
    <div class="comentario">
      <p>Nombre del usuario</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic
        consequuntur nesciunt velit illo voluptas atque neque ratione
        accusantium. Dolores harum animi suscipit consequatur id tempore
        deserunt error velit expedita.
      </p>
      <hr />
    </div>
  </div>
</div>
