<app-loader *ngIf="isLoader"></app-loader>
<div *ngIf="!isLoader">
  <div class="flex flex-col lg:flex-row mx-5 rounded-md shadow-lg p-3 my-5 gap-2 h-2/6">


    <div class="flex carrucel w-full sm:w-1/4">
      <div class="w-full md:w-1/6 h-40">
        <img *ngFor="let item of product.imagen" [src]="item.url_imagen" alt="" (mousemove)="changeImgCarrucel(item.id)"
          class="w-full h-full rounded-md">
      </div>
      <div class="flex justify-center w-full md:w-5/6 px-5">
        <img [src]="imagenCarrucel" alt="" class="h-screen rounded-sm w-full">
      </div>
    </div>


    <div class="container-datails rounded-md pl-4 pb-4 w-full md:w-3/4">
      <h2 class="lg:text-3xl">{{product.nombre_producto}}</h2>
      <p-rating [cancel]="false" [disabled]="true"></p-rating>
      <div class="lg:h-3/4">
        <div class="detalles">
          <p class="text-4x1"><b>${{product.precio}} </b><i class="precio">$150.00</i></p>
          <p class="font-italic text-green-500">
            Envios a toda la republica mexicana
          </p>
          <p>Descuento de: {{product.descuento}}%</p>
          <p>Costo de envio: <b>$99.00</b></p>
          <p>Stock disponible: <b>{{product.stock}} pzas</b></p>
          <p>¡Compralo ahora!</p>
          <div class="flex gap-2 items-center">
            <button
              class="bg-red-500 border-none w-10 h-8 text-4xl rounded-md flex justify-center items-center text-white hover:bg-red-700"
              (click)="changeCantidad('-')" [disabled]="cantidad === 1">-</button>
            <p>{{cantidad}}</p>
            <button
              class="bg-blue-500 border-none w-10 h-8 text-2xl rounded-md flex justify-center items-center text-white hover:bg-blue-700"
              (click)="changeCantidad('+')" [disabled]="cantidad === product.stock">+</button>
          </div>
          <div class="flex">
            <p-button class="mr-2 hover:bg-blue-400 rounded-md" label="" (click)="comprarProduct()">Comprar</p-button>
            <p-button styleClass="p-button-secondary" label="" (click)="addProductToCard()">Agregar al
              carrito</p-button>
            <p-toast></p-toast>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3 pb-5 mb-5 rounded-md mx-5 bg-white shadow-3">
    <h2 class="text-center text-4xl">Detalle del producto</h2>
    <div class="lg:text-2xl">
      <ul>
        <li><b>Genero:</b> Hombre</li>
        <li><b>Material del producto:</b> Algodon</li>
        <li><b>Talla:</b> 28</li>
      </ul>
      <p class="px-5">
        {{product.descripccion}}
      </p>
    </div>
  </div>
  <div class="p-3 pb-5 mb-5 border-round mx-5 bg-white shadow-3">
    <h2 class="text-center text-4xl">Opiniones de compradores</h2>

    <div class="bg-white px-4" *ngIf="product.comentarios.length !== 0">
      <div class="comentario" *ngFor="let item of product.comentarios">
        <div class="flex justify-between">
          <p>{{item.usuario}}</p>
          <p>{{item.fecha}}</p>
        </div>
        <p>
          {{item.comentario}}
        </p>
        <hr />
      </div>
    </div>
    <div class="bg-white px-4 flex justify-center" *ngIf="product.comentarios.length === 0">
     <img class="rounded-md w-2/5" src="../../../../../assets/img/not_comments.jpg" alt="not-comments">
    </div>
  </div>

</div>
