<div class="px-10 my-4">
    <form action="" class="flex justify-end mb-3">
        <select name="ordenarPor" id="" class="rounded-sm"  [(ngModel)]="ordenarPorPrecio" (ngModelChange)="ordenarProductosPorPrecio()">
            <option value="desc">Mayor precio</option>
            <option value="asc">Menor precio</option>
        </select>
    </form>

    <div class="flex">
        <div class="w-full grid sm:grid-cols-2 lg:grid-cols-4 gap-3 ">
            <div class="bg-white flex flex-col rounded-lg hover:shadow-xl px-2 pt-2 product" *ngFor="let item of products;">
                <img src="{{item.imagen}}" alt="{{item.nombre_producto}}" class="w-full max-h-72">
                <div class="p-3">
                    <a routerLink="/view/{{item.id}}" class="text-sm">{{item.nombre_producto}}</a>
                    <p><span class="text-blue-700 text-lg">${{item.precio}}</span></p>
                    <p-rating [stars]="item.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
            </div>
        </div>
    </div>



</div>
