<app-loader *ngIf="isLoader"></app-loader>
<div class="px-10 my-4" *ngIf="!isLoader">
    <form action="" class="flex justify-end mb-3">
        <select name="ordenarPor" id="" class="rounded-lg border-none"  [(ngModel)]="ordenarPorPrecio" (ngModelChange)="ordenarProductosPorPrecio()">
            <option value="desc">Mayor precio</option>
            <option value="asc">Menor precio</option>
        </select>
    </form>

    <div class="container mx-auto">
      <h1 class="text-4xl font-bold text-center my-5">Descubrir productos</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
          <div *ngFor="let item of products" class="bg-white p-5 rounded-lg shadow-md">
              <img [src]="item.imagen[0].url_imagen" [alt]="item.nombre_producto" class="w-full h-72 object-cover mb-3">
              <h2 routerLink="/view/{{item.id}}" class="text-xl font-semibold cursor-pointer">{{item.nombre_producto}}</h2>
              <p class="text-gray-500">{{item.descripccion}}</p>
              <div class="flex justify-between items-center mt-5">
                  <p class="text-lg font-semibold">${{item.precio}}</p>
              </div>
          </div>
      </div>
    </div>
</div>
