
.error-container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    text-align: center; 
    font-family: 'Century Gothic'
}


.error-image {
    max-width: 25%;
    height: auto;
    margin-right: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    
}

h1 {
    color: #e74694; 
    font-size: 33px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

a {
    color: #9957aa; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
