<nav (mouseleave)="isOpen = false"
  class="bg-white pt-3 pb-3 px-2 lg:px-20 md:gap-5 w-full fixed top-0 shadow-lg navbar">
  <div class="flex items-center gap-5 lg:mb-3">
    <button (click)="isClass()" class="lg:hidden border-none bg-white font-bold text-2xl cursor-pointer">☰</button>
    <div class="flex w-full gap-2 items-center">
      <img src="../../../../assets/img/logo2.png" alt="Novedade-ar" class="w-32">
      <input placeholder="Jeans Wide Leg Cargo Cintas" type="text" class="w-full rounded-md border-purple-400 focus:border-purple-400 border-opacity-40">
      <div routerLink="/carrito"
      class="flex items-center gap-1 cursor-pointer text-gray-900 hover:text-gray-600 lg:justify-center">
      <i class="pi pi-shopping-cart text-xl" pBadge [severity]="'info'" [value]="numCard.toString()"></i>
    </div>
    </div>
  </div>
  <div [class.hidden]="!isOpen"
    class="lg:flex justify-between lg:flex-row lg:gap-5 font-mono text-lg lg:text-md flex flex-col gap-2">
    <div (click)="isOpen = false" class="flex items-center gap-1 cursor-pointer text-gray-900 hover:text-gray-600">
      <i class="pi pi-home"></i>
      <a routerLink="/inicio" class="text-gray-900 hover:text-gray-600">Inicio</a>
    </div>
    <div (click)="isOpen = false" class="flex items-center gap-1 cursor-pointer text-gray-900 hover:text-gray-600">
      <i class="pi pi-tags"></i>
      <a routerLink="/productos" class="text-gray-900 hover:text-gray-600">Productos</a>
    </div>
    <div (click)="touchFemale =! touchFemale" class="flex items-center gap-1">
      <img src="../../../../assets/img/mujer.png" alt="icon-male" class="w-5">
      <a class="text-gray-900 cursor-pointer hover:text-gray-600">Dama</a>
      <div *ngIf="touchFemale" class="bg-white absolute px-4 py-2 top-16 rounded-md text-gray-900"
        (mouseleave)="touchFemale =! touchFemale">
        <p routerLink="/productos/gender/M/category/Blusa" class="cursor-pointer hover:text-gray-700">Blusas</p>
        <p routerLink="/productos/gender/M/category/Falda" class="cursor-pointer hover:text-gray-700">Faldas</p>
        <p routerLink="/productos/gender/M/category/Vestido" class="cursor-pointer hover:text-gray-700">Vestidos</p>
        <p routerLink="/productos/gender/M/category/Pantalon" class="cursor-pointer hover:text-gray-700">Pantalones</p>
        <p routerLink="/productos/gender/M/category/Playera" class="cursor-pointer hover:text-gray-700">Playeras</p>
        <p routerLink="/productos/gender/M/category/Jean" class="cursor-pointer hover:text-gray-700">Jeans</p>
        <p routerLink="/productos/gender/M/category/Short" class="cursor-pointer hover:text-gray-700">Shorts</p>
        <p routerLink="/productos/gender/M/category/Sudadera" class="cursor-pointer hover:text-gray-700">Sudaderas</p>
        <p routerLink="/productos/gender/M/category/Camisa" class="cursor-pointer hover:text-gray-700">Camisas</p>
        <p routerLink="/productos/gender/M/category/Polo" class="cursor-pointer hover:text-gray-700">Polos</p>
        <p routerLink="/productos/gender/M/category/Sueter" class="cursor-pointer hover:text-gray-700">Sueteres</p>
      </div>
    </div>
    <div (click)="touchMale =! touchMale" class="flex items-center gap-1">
      <img src="../../../../assets/img/hombre.png" alt="icon-male" class="w-5">
      <a class="text-gray-900 cursor-pointer hover:text-gray-600">Caballero</a>
      <div *ngIf="touchMale" class="bg-white absolute px-4 py-2 top-16 rounded-md text-gray-900"
        (mouseleave)="touchMale =! touchMale">
        <p routerLink="/productos/gender/H/category/Pantalon" class="cursor-pointer hover:text-gray-700">Pantalones</p>
        <p routerLink="/productos/gender/H/category/Playera" class="cursor-pointer hover:text-gray-700">Playeras</p>
        <p routerLink="/productos/gender/H/category/Jean" class="cursor-pointer hover:text-gray-700">Jeans</p>
        <p routerLink="/productos/gender/H/category/Short" class="cursor-pointer hover:text-gray-700">Shorts</p>
        <p routerLink="/productos/gender/H/category/Sudadera" class="cursor-pointer hover:text-gray-700">Sudaderas</p>
        <p routerLink="/productos/gender/H/category/Camisa" class="cursor-pointer hover:text-gray-700">Camisas</p>
        <p routerLink="/productos/gender/H/category/Polo" class="cursor-pointer hover:text-gray-700">Polos</p>
        <p routerLink="/productos/gender/H/category/Sueter" class="cursor-pointer hover:text-gray-700">Sueteres</p>
      </div>
    </div>
    <div (click)="isOpen = false" routerLink="{{routerUser}}"
      class="flex items-center gap-1 cursor-pointer text-gray-900 hover:text-gray-600">
      <i class="pi pi-user"></i>
      <a class="text-gray-900 hover:text-gray-600">Usuario</a>
    </div>
    <div (click)="isOpen = false" class="flex items-center gap-1 cursor-pointer text-gray-900 hover:text-gray-600">
      <i class="pi pi-shopping-bag"></i>
      <a routerLink="/profile/mis-compras" class="text-gray-900 cursor-pointer hover:text-gray-600">Compras</a>
    </div>

    <div (click)="isOpen = false" routerLink="/login" *ngIf="isLogin()"
      class="flex items-center gap-1 cursor-pointer text-gray-900 hover:text-gray-600">
      <i class="pi pi-sign-in"></i>
      <a class="text-gray-900 hover:text-gray-600">Ingresar</a>
    </div>
    <div *ngIf="!isLogin()" (click)="showConfirm()"
      class="flex items-center gap-1 cursor-pointer text-gray-900 hover:text-gray-600">
      <i class="pi pi-sign-out"></i>
      <a class="text-gray-900 hover:text-gray-600">Salir</a>
    </div>
  </div>
</nav>


















<br>
<p-toast position="top-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-col items-start" style="flex: 1">
      <div class="font-medium my-3 text-md">{{ message.summary }}</div>
      <button class="bg-red-400 border-none hover:bg-red-500 h-8" pButton label="Confirmar"
        (click)="closeSesion()"></button>
    </div>
  </ng-template>
</p-toast>
