<div class="mt-16 flex justify-center">
  <div class="md:w-3/5 bg-white rounded-md px-8 py-8">
    <h2 class="text-4xl mb-4">Crear cuenta</h2>
    <h3 class="text-3xl  mb-4" *ngIf="formValue">Paso 1: Datos personales</h3>
    <h3 class="text-3xl  mb-4" *ngIf="!formValue">Paso 2: Datos virtuales</h3>
    <app-layout-form
      [formValue]="formValue"
      [datosFormDos]="datosFormDos"
      [dataForm]="myForm"
      [datosForm]="datosForm"
      [colonias]="colonias"
      [cp]="cp"
      [municipios]="municipios"
      [estados]="estados"
      (estadoSelect)="getMunicipios($event)"
      (municipioSelect)="getCp($event)"
      (cpSelect)="getColonia($event)"
      [styles]="'md:grid-cols-2'"
      ></app-layout-form>

    <div class="mt-4 mb-4">
      <p-button *ngIf="formValue"
        routerLink="/user/login"
        styleClass="px-4 py-2 mr-2 bg-yellow-300 hover:bg-yellow-400"
        label="Ya tengo una cuenta">
      </p-button>
      <button *ngIf="!formValue"
        class="px-4 py-2 bg-blue-400 hover:bg-blue-500"
        (click)="formValueChangue()"
        pButton
        styleClass="px-4 py-2 bg-yellow-300 hover:bg-yellow-400"
        label="Anterior">
      </button>
      <p-button  *ngIf="!formValue"
        (click)="createNewUser()"
        styleClass="px-4 py-2 ml-2 bg-pink-400 hover:bg-pink-500"
        [disabled]="validCreateButton()"
        label="Crear cuenta">
      </p-button>
      <button *ngIf="formValue"
        class="px-4 py-2 bg-blue-400 hover:bg-blue-500"
        (click)="formValueChangue()"
        [disabled]="validBtn()"
        pButton
        label="Siguiente">
      </button>
    </div>
    <div *ngIf="!formValue" class="field col-12">
      <ngx-recaptcha2 class="" #captchaElem [siteKey]="key" (success)="handleSuccess($event)" [useGlobalDomain]="true"
        (expire)="handleexpired($event)" [size]="'normal'" [hl]="'es'" [theme]="'light'" [type]="'image'">
      </ngx-recaptcha2>
    </div>
  </div>
</div>
