<div class="my-10 flex justify-center">
  <div class="md:w-3/5 bg-white rounded-md px-8 py-8">
    <h2 class="text-4xl mb-4">Crear cuenta</h2>
    <h3 class="text-3xl  mb-4" *ngIf="formValue">Paso 1: Datos personales</h3>
    <h3 class="text-3xl  mb-4" *ngIf="!formValue">Paso 2: Datos virtuales</h3>
    <app-layout-form
      [formValue]="formValue"
      [datosFormDos]="datosFormDos"
      [dataForm]="myForm"
      [datosForm]="datosForm"
      [styles]="'md:grid-cols-2'"
      ></app-layout-form>
      <p-toast></p-toast>
    <div class="mt-4 mb-4">
      <button *ngIf="formValue"
        routerLink="/login"
        class="px-4 py-2 bg-blue-600 hover:bg-blue-700 border-none rounded-md cursor-pointer text-white text-sm mr-2"
        >Ya tengo una cuenta
      </button>
      <button *ngIf="!formValue"
        class="px-4 py-2 bg-blue-600 hover:bg-blue-700 border-none rounded-md cursor-pointer text-white text-sm mr-2"
        (click)="formValueChangue()"
        >Anterior
      </button>
      <button  *ngIf="!formValue"
        (click)="createNewUser()"
        class="px-4 py-2 bg-pink-500 hover:bg-pink-600 border-none rounded-md cursor-pointer text-white text-sm"
        [disabled]="validCreateButton()"
        pButton
        >Crear cuenta
      </button>
      <button *ngIf="formValue"
      class="px-4 py-2 bg-pink-500 hover:bg-pink-600 border-none rounded-md cursor-pointer text-white text-sm"
        (click)="formValueChangue()"
        [disabled]="validBtn()"
        pButton
        >Siguiente
      </button>
    </div>
    <div *ngIf="!formValue" class="field col-12">
      <ngx-recaptcha2 class="" #captchaElem [siteKey]="key" (success)="handleSuccess($event)" [useGlobalDomain]="true"
        (expire)="handleexpired($event)" [size]="'normal'" [hl]="'es'" [theme]="'light'" [type]="'image'">
      </ngx-recaptcha2>
    </div>
  </div>
</div>
