
  <form [formGroup]="formRating" class="flex flex-col gap-2 font-semibold text-center text-gray-600 text-lg">
    <label for="calificacion">Califica el producto</label>
    <p-rating [cancel]="false" formControlName="value" />
    <input formControlName="opinion" *ngIf="isRaking === false" type="text" placeholder="Deja tu opinion" class="rounded-md border-purple-600 focus:border-purple-700">
    <button
      (click)="addRakin()"
      class="bg-purple-600 hover:bg-purple-500 text-white border-none rounded-md py-2 px-3 cursor-pointer font-bold"
      *ngIf="isRaking === false">
      Calificar
    </button>
    <button
      routerLink="/view/{{idProduct}}"
      class="bg-purple-600 hover:bg-purple-500 text-white border-none rounded-md py-2 px-3 cursor-pointer font-bold"
      *ngIf="isRaking === true">
      Ver mas calificaciones
    </button>
  </form>
