<div class="flex justify-center">
  <div class="my-20 bg-white shadow-md px-5 py-5 rounded-md w-1/4">
    <form [formGroup]="formLogin" class="flex flex-col gap-5">
      <span class="text-2xl font-bold">Login Adminstrador</span>
      <div class="flex flex-col">
        <label for="email">Correo electronico:</label>
        <input formControlName="email" class="rounded-md" type="email" id="email" name="email" required>
      </div>
      <div class="flex flex-col">
        <label for="password">Contraseña:</label>
        <input formControlName="password" class="rounded-md" type="password" id="password" name="password" required>
      </div>
      <div class="">
        <button (click)="loginAdmin()"
          class="font-bold px-4 py-2 bg-blue-600 hover:bg-pink-500 border-none rounded-md cursor-pointer text-white text-sm w-full"
          >Ingresar
        </button>

      </div>
    </form>

  </div>
</div>
