<div class="px-10 py-5">
  <div class="py-2 px-2">
    <h3 class="text-center text-2xl font-bold bg-white p-2 rounded-md shadow-lg">Ventas pendientes a enviar</h3>


    <div *ngFor="let item of ventas" class="px-2 bg-white py-2 rounded-sm mb-5">

      <div>

        <h3 class="">Detalles de la venta</h3>
        <div class="flex items-center justify-between">
          <div>
            <span class="font-semibold text-gray-800 text-md">Fecha de la venta: </span>
            <i class="font-semibold text-gray-600">{{item.fecha_venta}}</i>
          </div>
          <button
          routerLink="/admin/chat/{{item.id}}"
            class="border-none rounded-sm bg-gray-600 hover:bg-gray-700 py-2 px-3 text-md cursor-pointer font-bold text-white">Mensajes
          </button>
        </div>


        <ul class="grid grid-cols-5 text-center text-white py-1 bg-gray-800 text-sm">
          <li>Productos</li>
          <li>Precio</li>
          <li>Descuento</li>
          <li>Cantidad</li>
          <li>Total</li>
        </ul>
        <ul class="grid grid-cols-5 text-center text-gray-600" *ngFor="let data of item.detallesVenta">
          <li>{{data.producto.nombre_producto}}</li>
          <li>{{data.precio}}</li>
          <li>{{data.descuento}}</li>
          <li>{{data.cantidad}}</li>
          <li>{{data.precio * data.cantidad}}</li>
        </ul>
      </div>
      <hr>
      <div class="flex justify-between">
        <div class="mb-2">
          <span class="font-semibold text-gray-800">Datos para el envio: </span>
          <div class="flex flex-col gap-1 text-sm">
            <span class="text-gray-600">Nombre: {{item.usuario.name +" " + item.usuario.lastname + " " +
              item.usuario.motherLastname}}</span>
            <span class="text-gray-600">Telefono: {{item.usuario.cellphone}}</span>
            <span class="text-gray-600">
              Direccion: {{
              item.usuario.ubicacion.municipio
              + ", " +
              item.usuario.ubicacion.estado
              + ", col. " +
              item.usuario.ubicacion.colonia
              }}
            </span>
            <span class="text-gray-600">Codigo postal: {{item.usuario.ubicacion.cp}}</span>
            <span class="text-gray-600">Referencia: {{item.usuario.ubicacion.referencia}}</span>
          </div>
        </div>
        <app-form-code (dataVenta)="updateVentas($event)" [idVenta]="item.id"></app-form-code>
      </div>
    </div>
  </div>
</div>
