<form [formGroup]="dataForm" >
  <div *ngIf="formValue" class="grid formgrid">
    <div class="field col-12 md:col-6 {{styles}}" *ngFor="let data of datosForm">
      <label for="{{data.formControlName}}">{{data.label}}</label><br>
      <input *ngIf="data.type != 'select' && data.type != 'password'" formControlName="{{data.formControlName}}"
        class="text-base text-color surface-overlay
        p-2 border-1 border-solid surface-border
        border-round appearance-none outline-none focus:border-primary w-full"
        type="{{data.type}}">
        <select
          *ngIf="data.type === 'select' && data.formControlName != 'estado' && data.formControlName != 'municipio' && data.formControlName != 'cp' && data.formControlName != 'colonia'"
          name="{{data.formControlName}}"
          id="{{data.formControlName}}"
          formControlName="{{data.formControlName}}"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          >
          <option value="" disabled selected>Seleccione una opcion</option>
          <option value="{{data.formControlName}}" *ngFor="let opcion of data.typeSelect">{{ opcion.option }}</option>
        </select>
        <select
          *ngIf="data.type === 'select' && data.formControlName === 'estado'"
          name="{{data.formControlName}}"
          id="{{data.formControlName}}"
          formControlName="{{data.formControlName}}"
          #selectOption
          (click)="emitEstado(selectOption.value)"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          >
          <option value="" disabled selected>Seleccione una opcion</option>
          <option *ngFor="let opcion of estados.response.estado" value="{{opcion}}">{{ opcion }}</option>
        </select>
        <select
          *ngIf="data.type === 'select' && data.formControlName === 'municipio'"
          name="{{data.formControlName}}"
          id="{{data.formControlName}}"
          formControlName="{{data.formControlName}}"
          #selectOption
          (click)="emitMunicipio(selectOption.value)"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          >
          <option value="" disabled selected>Seleccione una opcion</option>
          <option *ngFor="let opcion of municipios.response.municipios" value="{{opcion}}">{{ opcion }}</option>
        </select>
        <select
          *ngIf="data.type === 'select' && data.formControlName === 'cp'"
          name="{{data.formControlName}}"
          id="{{data.formControlName}}"
          formControlName="{{data.formControlName}}"
          #selectOption
          (click)="emitCp(selectOption.value)"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          >
          <option value="" disabled selected>Seleccione una opcion</option>
          <option value="92143">92143</option>
          <option *ngFor="let opcion of cp.response.cp" value="{{opcion}}">{{ opcion }}</option>
        </select>
        <select
          *ngIf="data.type === 'select' && data.formControlName === 'colonia'"
          name="{{data.formControlName}}"
          id="{{data.formControlName}}"
          formControlName="{{data.formControlName}}"
          #selectOption
          (click)="emitColonia(selectOption.value)"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          >
          <option value="" disabled selected>Seleccione una opcion</option>
          <option *ngFor="let opcion of colonias.response.colonia" value="{{opcion}}">{{ opcion }}</option>
        </select>
        <br>
        <span *ngIf="isValidField(data.formControlName)">{{getFieldError(data.formControlName)}}</span>
    </div>
  </div>

  <!--Esta parte del formulario solo se usa cuando el mismo formulario de divide en
  dos por ejemplo el formulario de crear cuenta-->
  <div *ngIf="!formValue" class="grid formgrid">
  <div class="field col-12 md:col-6" *ngFor="let data of datosFormDos">
      <label for="{{data.formControlName}}">{{data.label}}</label><br>
      <input  *ngIf="data.type != 'select' && data.type != 'password'" formControlName="{{data.formControlName}}"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      type="{{data.type}}">
      <p-password *ngIf="data.type === 'password'"
        formControlName="{{data.formControlName}}"
        [feedback]="false"
        (keyup)="evaluateStrength(userPassword)">
      </p-password>
      <div *ngIf="strengthMessage !== ''"><span>La contraseña es: {{ strengthMessage }}</span></div>

        <select
          *ngIf="data.type === 'select'"
          name="{{data.formControlName}}"
          id="{{data.formControlName}}"
          formControlName="{{data.formControlName}}"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          >
          <option value="" disabled selected>Seleccione una opcion</option>
          <option value="{{data.formControlName}}" *ngFor="let opcion of data.typeSelect">{{ opcion.option }}</option>
        </select>
        <br>
        <span *ngIf="isValidField(data.formControlName)">Contraseña invalida</span>
    </div>
  </div>
</form>
