<nav
class="bg-blue-900 flex flex-col md:flex-row py-3 px-2 md:px-24 content-center items-center md:gap-4 w-full fixed top-0 ">
  <img class="w-32 rounded" src="../../../../assets/img/logo2.png" alt="Novedades AR">
  <div class="w-full">
    <p-autoComplete
    [(ngModel)]="selectedItem"
    [suggestions]="itemsS"
    class="autoComplete"
    (completeMethod)="search($event)"
    [style]="{'width':'100%'}"
    placeholder="Buscar"
    field="nombre_producto"
   ></p-autoComplete>
  </div>
  <ul class="flex gap-5 text-white">
    <li routerLink="/inicio" class="cursor-pointer flex items-center gap-1 hover:text-gray-200"><span class="pi pi-home"></span>Inicio</li>
    <li routerLink="productos" class="cursor-pointer flex items-center gap-1 hover:text-gray-200"><span class="pi pi-tags"></span>Productos</li>
    <li routerLink="login" *ngIf="isLogin()" class="cursor-pointer flex items-center gap-1 hover:text-gray-200">
      <span class="pi pi-sign-in"></span>
      Ingresar</li>
    <li *ngIf="!isLogin()" (click)="showConfirm()" class="cursor-pointer flex items-center gap-1 hover:text-gray-200">
      <span class="pi pi-sign-out"></span>Salir</li>
    <li routerLink="{{routerUser}}"><span class="pi pi-user cursor-pointer hover:text-gray-200"></span></li>
    <!-- <i class="pi pi-shopping-cart cursor-pointer hover:text-gray-200" severity="info" pBadge [value]="numCard.toString()"></i> -->
    <li routerLink="carrito"><span class="pi pi-shopping-cart cursor-pointer hover:text-gray-200" severity="info" pBadge [value]="numCard.toString()"></span></li>
  </ul>
</nav>
<br><br> <br> <br>


<p-toast position="top-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="flex flex-col items-start" style="flex: 1">
          <div class="font-medium my-3 text-md">{{ message.summary }}</div>
          <button class="bg-red-400 border-none hover:bg-red-500 h-8" pButton label="Confirmar" (click)="closeSesion()"></button>
      </div>
  </ng-template>
</p-toast>







<router-outlet></router-outlet>
<footer class="bg-gray-800 text-white p-5">
  <div class="container mx-auto">
      <div class="flex flex-wrap items-center justify-between">
          <div class="w-full md:w-1/4 text-center md:text-left">
              <h2 class="text-lg font-semibold">Compañia</h2>
              <p class="my-2 cursor-pointer" routerLink="/aviso-privacidad">Aviso de privacidad</p>
              <p class="my-2 cursor-pointer" routerLink="/cookies">Politicas de cookies</p>
              <p class="my-2 cursor-pointer" routerLink="/terminos-condiciones">Terminos y condiciones</p>
          </div>
          <div class="w-full md:w-1/4 text-center md:text-left">
              <h2 class="text-lg font-semibold">Sobre nostros</h2>
              <p class="my-2 cursor-pointer" routerLink="/mision">Mision</p>
              <p class="my-2 cursor-pointer" routerLink="/vision">Vision</p>
          </div>
          <div class="w-full md:w-1/4 text-center md:text-left">
              <h2 class="text-lg font-semibold">Siguenos</h2>
              <ul class="list-reset flex flex-col">
                  <li class="mx-2"><a href="#" class="text-gray-400 hover:text-gray-200">Facebook</a></li>
                  <li class="mx-2"><a href="#" class="text-gray-400 hover:text-gray-200">Twitter</a></li>
                  <li class="mx-2"><a href="#" class="text-gray-400 hover:text-gray-200">Instagram</a></li>
              </ul>
          </div>
          <div class="w-full md:w-1/4 text-center md:text-left">
              <h2 class="text-lg font-semibold">¿Dudas?</h2>
              <p class="my-2">Haznos saber tus duda directo a nuestro correo</p>
              <form class="w-full max-w-sm">
                  <div class="flex items-center border-b-2 border-gray-200 py-2">
                      <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Email">
                      <button class="flex-shrink-0 bg-gray-900 text-white py-1 px-2 rounded" type="button">
                          Enviar
                      </button>
                  </div>
              </form>
          </div>
      </div>
      <div class="mt-5 border-t-2 border-gray-600 pt-5 text-center">
          <p>&copy; 2024 NovedadesA&R. All rights reserved.</p>
      </div>
  </div>
</footer>
