<!--Este div engloba los formularios de correo, token y pregunta secreta-->
<div class="flex justify-center mt-20">
  <p-toast></p-toast>

  <!--Primer formulario en el cual se ingresa el correo electronico-->
  <div class="bg-white rounded-lg p-10 md:w-2/6" *ngIf="!validStatus">
    <h2 class="text-3xl mb-4">Recuperar contraseña</h2>
    <app-layout-form
      [styles]="styles"
      [dataForm]="formEmail"
      [datosForm]="datosFormEmail">
    </app-layout-form>
    <div class="mt-3">

      <p-button
      routerLink="/login"
      styleClass="px-4 py-2 mr-2 bg-red-400 hover:bg-red-500"
      label="Cancelar">
      </p-button>

      <p-button
      *ngIf="caseBtnRec"
        (click)="verifEmail()"
        [disabled]="validButton()"
        styleClass="px-4 py-2 bg-pink-300 hover:bg-pink-400"
        label="Recuperar contraseña">
      </p-button>

      <p-button
      *ngIf="!caseBtnRec"
        type="submit"
        styleClass="px-4 py-2 bg-pink-300 hover:bg-pink-400"
        label="Verificando correo...">
      </p-button>

    </div>
  </div>

  <!-- Este div engloba el formulario de ingresar el codigo enviado por correo y la nueva contraseña-->
  <div *ngIf="validStatus" class="bg-white rounded-lg p-10 md:w-2/6">

      <div *ngIf="typeRecover">
        <h2 class="text-2xl mb-4">Selecciona un metodo de recuperacion</h2>
        <input type="button" (click)="chageValueBtnTypeRecover(1)" value="Correo electronico">
        <input type="button" (click)="chageValueBtnTypeRecover(2)" value="Pregunta secreta">
      </div>
      <div *ngIf="!typeRecover">

        <div *ngIf="typeSelect">
          <h2 class="text-3xl mb-4">Recuperar contraseña</h2>
          <app-layout-form *ngIf="!validCode"
            [styles]="styles"
            [dataForm]="formCode"
            [datosForm]="datosFormToken">
          </app-layout-form>
            <div *ngIf="!validCode" class="mt-3">
              <p-button
                (click)="validatedCode()"
                [disabled]="validButtonCode()"
                type="submit"
                styleClass="px-4 py-2 bg-pink-300 hover:bg-pink-400"
                label="Verificar">
              </p-button>
            </div>

          <app-layout-form
            *ngIf="validCode"
            [styles]="styles"
            [dataForm]="formNewPassword"
            [datosForm]="datosFormPassword">
          </app-layout-form>
            <div class="mt-3">
              <p-button
              *ngIf="validCode"
              type="submit"
              styleClass="px-4 py-2 bg-pink-300 hover:bg-pink-400"
              [disabled]="validUpdate()"
              label="Actualizar contraseña"
              (click)="updatePassword()">
              </p-button>
            </div>
        </div>


        <div *ngIf="!typeSelect">
          <h1>Pregunta</h1>
          <app-layout-form [dataForm]="formQuestion" [datosForm]="datosFormQuestion"></app-layout-form>
        </div>




      </div>
  </div>
</div>
