<div class="px-10 py-5">
  <h2 class="font-mono text-2xl font-normal">Bienvenido a Novedades A&R</h2>
  <div class="grid grid-cols-3 gap-3">
    <div class="bg-white py-4 px-4 rounded-md shadow-md">
      <span class="text-md font-bold text-gray-700">Numero de ventas semanal</span>
      <p class="text-center text-5xl text-gray-700 font-bold font-sans">18</p>
    </div>
    <div class="bg-white py-4 px-4 rounded-md shadow-md">
      <span class="text-md font-bold text-gray-700">Numero de ventas mensual</span>
      <p class="text-center text-5xl text-gray-700 font-bold font-sans">30</p>
    </div>
    <div class="bg-white py-4 px-4 rounded-md shadow-md">
      <span class="text-md font-bold text-gray-700">Numero de ventas anual</span>
      <p class="text-center text-5xl text-gray-700 font-bold font-sans">360</p>
    </div>
    <div class="bg-white py-4 px-4 col-span-3 shadow-md">
      <span class="text-xl font-bold text-gray-700">Top 3 Productos mas vendidos</span>
      <div class="mt-5">
        <div class="grid grid-cols-3 gap-3">
          <div class="">
            <img class="w-full h-56 object-cover" src="https://via.placeholder.com/150" alt="Placeholder">
            <p class="text-center text-sm text-gray-700 font-bold">Producto 1</p>
          </div>
          <div class="">
            <img class="w-full h-56 object-cover" src="https://via.placeholder.com/150" alt="Placeholder">
            <p class="text-center text-sm text-gray-700 font-bold">Producto 2</p>
          </div>
          <div class="">
            <img class="w-full h-56 object-cover" src="https://via.placeholder.com/150" alt="Placeholder">
            <p class="text-center text-sm text-gray-700 font-bold">Producto 2</p>
          </div>
      </div>
    </div>

  </div>
</div>
