<div class="container mt-5 mb-5 p-5 mx-28">
  <div class="row">
    <div class="col-md-8 offset-md-2 py-3 ">
      <h2 class="text-center">Aviso de Privacidad</h2>
      <hr />
      <p><i> Última actualización: 22/09/2023</i></p>
      <p>
        En cumplimiento con lo establecido en la Ley de Protección de Datos
        Personales, se le informa que los datos personales proporcionados serán
        tratados de manera confidencial y utilizados únicamente para los fines
        mencionados en nuestra política de privacidad.
      </p>
      <p class="title"><strong>¿Quiénes somos?</strong></p>
      <p>
        Novedades(A&R), con domicilio en calle Carretera Jalapa 1, colonia Col.
        Tepoxtequito, ciudad Platón Sanchez, municipio o delegación Platón
        Sanchez, c.p. 92142, en la entidad de Veracruz, país México, nos
        comprometemos a proteger y respetar su privacidad. Este Aviso de
        Privacidad describe cómo recopilamos, usamos y protegemos sus datos
        personales. Al acceder y utilizar nuestro sitio web ,usted acepta las
        prácticas descritas en este aviso.
      </p>
      <p class="title">
        <strong>¿Para qué fines utilizaremos sus datos personales?</strong>
      </p>
      <p>
        Los datos personales que recabamos de usted, los utilizaremos para las
        siguientes finalidades que son necesarias para el servicio que solicita:
      </p>
      <ul>
        <li>
          Utilizaremos sus datos personales para brindar atención al cliente,
          responder preguntas y resolver problemas relacionados con sus compras
          y consultas sobre productos.
        </li>
        <li>
          Procesaremos sus datos personales para garantizar la seguridad de
          nuestras transacciones y prevenir actividades fraudulentas.
        </li>
      </ul>
      <p>
        De manera adicional, utilizaremos su información personal para las
        siguientes finalidades secundarias que no son necesarias para el
        servicio solicitado, pero que nos permiten y facilitan brindarle una
        mejor atención:
      </p>
      <ul>
        <li>
          Utilizaremos sus datos personales para enviarle información sobre
          promociones, descuentos y novedades de nuestra tienda.
        </li>
        <li>
          Podremos utilizar sus datos personales para cumplir con obligaciones
          legales, como la presentación de informes fiscales y cumplimiento de
          normativas comerciales.
        </li>
      </ul>
      <p>
        En caso de que no desee que sus datos personales se utilicen para estos
        fines secundarios, indíquelo a continuación: No consiento que mis datos
        personales se utilicen para los siguientes fines: <br />
      </p>
      <p>
        <strong>
          <ul class="options">
            <li>
              [ ] Utilizaremos sus datos personales para enviarle información
              sobre promociones, descuentos y novedades de nuestra tienda.
            </li>
            <li>
              [ ] Podremos utilizar sus datos personales para cumplir con
              obligaciones legales, como la presentación de informes fiscales y
              cumplimiento de normativas comerciales.
            </li>
          </ul>
        </strong>
        La negativa para el uso de sus datos personales para estas finalidades
        no podrá ser un motivo para que le neguemos los servicios y productos
        que solicita o contrata con nosotros.
      </p>
      <p>
        En Novedades (A&R), valoramos su confianza y estamos comprometidos con
        la protección de sus datos personales. Por ello, solicitamos a nuestros
        usuarios que proporcionen información veraz y precisa de manera
        voluntaria. La precisión de sus datos es fundamental para garantizar que
        podamos brindarle un servicio de calidad. <br />
        <br />
        Es importante destacar que Novedades (A&R) no se hace responsable de
        ninguna manera en caso de que los datos personales proporcionados por el
        usuario no sean exactos. Si los datos no son correctos y esto causa
        algún problema o inconveniente, la responsabilidad recae en el usuario y
        no en Novedades (A&R). <br />
        <br />
        Entendemos que la precisión de la información es esencial para una
        experiencia satisfactoria con nuestros servicios. Por lo tanto, le
        instamos a verificar cuidadosamente la información que proporciona y a
        actualizarla si es necesario. <br /><br />
        Gracias por confiar en Novedades (A&R). Estamos aquí para brindarle un
        servicio excepcional y proteger sus datos personales de manera
        responsable. <br /><br />
        Recuerde que este aviso de privacidad tiene como objetivo asegurar la
        transparencia y la protección de sus datos personales. Su cooperación es
        fundamental para garantizar una experiencia segura y eficiente con
        nuestros servicios.
      </p>
      <p class="title">
        <strong>¿Qué datos personales utilizaremos para estos fines?</strong>
      </p>
      <p>
        Recabamos sus datos personales con el fin de proporcionarle los
        productos que ofrecemos en nuestro sitio web. Estos datos se utilizan
        para procesar sus pedidos, entregar productos y brindar atención al
        cliente de manera eficiente.
      </p>
      <p><strong>Datos Personales Recabados</strong></p>
      <p>Los datos personales que podemos recabar incluyen, entre otros:</p>
      <ul>
        <li>Nombre completo</li>
        <li>Dirección de correo electrónico</li>
        <li>Número de teléfono</li>
        <li>Dirección de entrega</li>
        <li>Información de pago (como tarjeta de crédito)</li>
      </ul>
      <p class="title"><strong>Marco Legal</strong></p>
      <p>
        El tratamiento de sus datos personales se realiza de conformidad con las
        leyes de privacidad y protección de datos aplicables.
      </p>
      <p>
        <strong>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u
          oponerse a su uso?
        </strong>
      </p>
      <p>
        Usted tiene derecho a conocer qué datos personales tenemos de usted,
        para qué los utilizamos y las condiciones del uso que les damos
        (Acceso). Asimismo, es su derecho solicitar la corrección de su
        información personal en caso de que esté desactualizada, sea inexacta o
        incompleta (Rectificación); que la eliminemos de nuestros registros o
        bases de datos cuando considere que la misma no está siendo utilizada
        adecuadamente (Cancelación); así como oponerse al uso de sus datos
        personales para fines específicos (Oposición). Estos derechos se conocen
        como derechos ARCO.
      </p>
      <p>
        <strong>
          <i>
            Para el ejercicio de cualquiera de los derechos ARCO, usted deberá
            presentar la solicitud respectiva a través del siguiente medio:</i>
        </strong>
      </p>
      <p><i>Se pondrá en contacto con el responsable de privacidad</i></p>
      <p>
        <i>
          Con relación al procedimiento y requisitos para el ejercicio de sus
          derechos ARCO, le informamos lo siguiente:
        </i>
      </p>
      <ul class="options">
        <li>
          <strong>
            a) ¿A través de qué medios pueden acreditar su identidad el titular
            y, en su caso, su representante, así como la personalidad este
            último?
          </strong>
          <ul>
            <li>
              Identificación Oficial, Validación telefónica, correo electrónico
            </li>
          </ul>
        </li>
        <li>
          <strong>
            b) ¿Qué información y/o documentación deberá contener la solicitud?
          </strong>
          <ul>
            <li>
              Nombre completo del titular de los datos. Detalles de contacto
              para poder comunicarnos con el solicitante. Descripción clara y
              específica de la solicitud de derechos ARCO (acceso,
              rectificación, cancelación u oposición). Cualquier documentación
              que respalde la solicitud, si es aplicable.
            </li>
          </ul>
        </li>
        <li>
          <strong>
            c) ¿En cuántos días le daremos respuesta a su solicitud?
          </strong>
          <ul>
            <li>
              Nos comprometemos a proporcionar una respuesta a las solicitudes
              de derechos ARCO en un plazo máximo de 30 días hábiles a partir de
              la recepción de la solicitud completa.
            </li>
          </ul>
        </li>
        <li>
          <strong>
            d) ¿Por qué medio le comunicaremos la respuesta a su solicitud?
          </strong>
          <ul>
            <li>Por correo electrónico</li>
          </ul>
        </li>
        <li>
          <strong>
            e) ¿En qué medios se pueden reproducir los datos personales que, en
            su caso, solicite?
          </strong>
          <ul>
            <li>
              Envió por correo electrónico <br />
              <p>
                Los datos de contacto de la persona o departamento de datos
                personales, que está a cargo de dar trámite a las solicitudes de
                derechos ARCO, son los siguientes:
              </p>
              <ul class="options">
                <li>
                  a) Nombre de la persona o departamento de datos personales:
                  Sra. Rosa Edith Ramirez
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <p>
        <strong>Usted puede revocar su consentimiento para el uso de sus datos
          personales
        </strong>
      </p>
      <p>
        Usted puede revocar el consentimiento que, en su caso, nos haya otorgado
        para el tratamiento de sus datos personales. Sin embargo, es importante
        que tenga en cuenta que no en todos los casos podremos atender su
        solicitud o concluir el uso de forma inmediata, ya que es posible que
        por alguna obligación legal requiramos seguir tratando sus datos
        personales. Asimismo, usted deberá considerar que, para ciertos fines,
        la revocación de su consentimiento implicará que no le podamos seguir
        prestando el servicio que nos solicitó, o la conclusión de su relación
        con nosotros.
      </p>
      <p>
        Para revocar su consentimiento deberá presentar su solicitud a través
        del siguiente medio:
      </p>
      <ul>
        <li>A través de correo electrónico</li>
      </ul>
      <p>
        <strong>¿Cómo puede limitar el uso o divulgación de su información personal?
        </strong>
      </p>
      <p>
        Con objeto de que usted pueda limitar el uso y divulgación de su
        información personal, le ofrecemos los siguientes medios:
      </p>
      <ul>
        <li>Enviar un correo electrónico</li>
      </ul>
      <p>
        <strong>¿Cómo puede conocer los cambios en este aviso de privacidad?
        </strong>
      </p>
      <p>
        El presente aviso de privacidad puede sufrir modificaciones, cambios o
        actualizaciones derivadas de nuevos requerimientos legales; de nuestras
        propias necesidades por los productos o servicios que ofrecemos; de
        nuestras prácticas de privacidad; de cambios en nuestro modelo de
        negocio, o por otras causas.
      </p>
      <p>
        Nos comprometemos a mantenerlo informado sobre los cambios que pueda
        sufrir el presente aviso de privacidad, a través de:
      </p>
      <ul>
        <li>Correo electrónico</li>
      </ul>
      <p><strong>Autorización de promoción o comunicación:</strong></p>
      <p>
        En Novedades (A&R), valoramos su privacidad y deseamos ofrecerle una
        experiencia personalizada y relevante. Para ello, ocasionalmente podemos
        enviarle mensajes promocionales y de comunicación relacionados con
        nuestros productos y servicios.
      </p>
      <p>
        Sin embargo, comprendemos que sus preferencias pueden cambiar con el
        tiempo, y respetamos su derecho a controlar la información que recibe de
        nosotros. Si en algún momento desea dejar de recibir nuestros mensajes
        promocionales, estamos aquí para ayudarlo.
      </p>
      <p>
        Por favor, tenga en cuenta que puede solicitar la interrupción de estos
        mensajes en cualquier momento. Puede hacerlo a través de los siguientes
        medios:
      </p>
      <ul>
        <li><i>Llamándonos al 771 239 7662</i></li>
        <li><i>Enviando un correo electrónico a novedadesA&Rmail.com</i></li>
      </ul>
      <p>
        Su decisión de dejar de recibir mensajes promocionales no afectará
        nuestra capacidad de brindarle nuestros productos y servicios de manera
        regular. Estamos aquí para servirle y respetamos su elección en cuanto a
        la comunicación que recibe de nuestra parte.
      </p>
      <p><strong>Definición de consulta:</strong></p>
      <p>
        En Novedades (A&R), consideramos que la transparencia en el manejo de
        sus datos personales es fundamental. Entendemos que pueda tener
        preguntas o inquietudes sobre cómo se gestionan sus datos o sobre
        posibles modificaciones a nuestro aviso de privacidad.
      </p>
      <p>
        La consulta se refiere al proceso mediante el cual los usuarios pueden
        solicitar información adicional, aclaraciones o realizar preguntas
        relacionadas con la protección de sus datos personales y la manera en
        que los manejamos. Su opinión y preguntas son importantes para nosotros,
        y estamos comprometidos en brindar respuestas claras y precisas a sus
        inquietudes.
      </p>
      <ul>
        <li>
          Puede encontrar y revisar nuestros avisos de privacidad en nuestro
          sitio web oficial.
        </li>
        <li>
          Además de nuestro sitio web, también incluimos nuestros avisos de
          privacidad en documentos oficiales, como acuerdos relacionados con
          nuestras interacciones con usted.
        </li>
      </ul>
      <p>
        Agradecemos su confianza en Novedades (A&R) y su interés en entender
        cómo protegemos su privacidad y sus datos personales. Estamos
        disponibles para atender sus consultas y proporcionarle la información
        que necesite
      </p>
    </div>
  </div>
</div>
<style>
  h2 {
    text-align: center;
    font-size: 50px;
  }

  .container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 6px;
  }

  .options {
    list-style-type: none;
  }

  .options li {
    margin-bottom: 5px;
  }

  i {
    color: rgb(27, 27, 27);
  }

  .title {
    font-size: 20px;
  }
</style>
